$color-red: #DC143C;
$color-green: #00FF00;
$color-black: #000000;
$color-blue: #0000ff;
$color-grey: #C0C0C0;
$color-white: #FFFFFF;

body {
  background-color: $color-grey;
}

.exercise1-table, th, td {
  border: 1px solid $color-black;
}

.exercise1-table {
  width: 100%;
  td {
    text-align: center;
  }
}

.red {
  background-color: $color-red;
}

.green {
  background-color: $color-green;
}

.blue {
  background-color: $color-blue;
}

.white {
  background-color: $color-white;
}